section{
    padding: 100px 100px;
}
.main{
    min-height: 100vh ;
    background: rgb(52, 4, 80);
    text-align: left;
    
}
.content{
  padding-left: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  
}
.content h1{
font-size: 30px;
padding-left:20px;
color: #ce2495;

}


.content img{
 width: 15%;
 margin-left: 50px;
}

.main p{
  padding-left: 200px;
  padding-right: 100px;
  padding-top: 50px;
  line-height: 40px;
  font-size: 30px;
  color: #fff;
}

.main a{
margin-left: 200px;}

.btt{
  color: #fff;
  background:#ce2495;
  text-decoration: none;
  font-size: 15px;
  font-weight: 300;
  display: inline-block;
  padding: 0.9em 0.7em;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-bottom:  40px;
  transition: 0.7s ease;
  
}

.btt:hover{
  background:#fff;
   transform: scale(1.1);
   color: rgba(26, 19, 71, 0.9) ;

}

@media (max-width:700px){
  section{
    padding: 100px 10px;
  }
  .main{
    min-height: 50vh;
    justify-content: center;
  }
  .main img{
    margin-left: 0;
    width: 30em;
    padding-left: 10px;
  }
.content{
  padding-left: 20px;

}
  .content img{
    width: 50%;
  }
  .content h1{
    padding-left: 20px;
    font-size: 22px;
  }
  .main p{
    text-align: left;
    padding-left: 20px;
  padding-right: 10px;
    font-size: 20px;
  }
  .main a{
    margin-left: 20px;}

}